<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div style="font-size:130%;"> Recommended: Zoom out to ~50%.</div>
<br><br>

<div id="video-grid">
% for i,x in enumerate(FEED_CONFIG):
    <div>
        <a href="${x['http_link']}">${x['name']}</a><br>
        <video controls autoplay muted="true" feed-index="${i}"></video>
    </div>
% endfor
</div>

<script src="js/index.js"></script>
</body>
</html>